[submodule "ROS2-driver-for-Realsense/realsense-ros"]
	path = ROS2-driver-for-Realsense/realsense-ros
	url = https://github.com/zhj-buffer/ROS2-driver-for-Realsense.git
[submodule "slam_toolbox"]
	path = slam_toolbox
	url = https://github.com/SteveMacenski/slam_toolbox
