<robot name="yhs_chassis_description">
  <link name="base_link">
    <visual>
      <origin
        xyz="-0.27 0.21 0"
        rpy="1.57 0 0" />
      <geometry>
        <mesh
          filename="package://yhs_chassis_description/meshes/DGT-001S.STL"/>
      </geometry>
      <material
        name="">
        <color
          rgba="0.8 0.8 0.8 1" />
      </material>
    </visual>
  </link>
</robot>
