<launch>

  <param name="robot_description" textfile="$(find yhs_chassis_description)/urdf/yhs_fr09pro.urdf" />
 
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find yhs_chassis_description)/rviz/urdf.rviz" />
</launch>
