<robot name="yhs_chassis_description">
  <link name="base_link">
    <visual>
      <origin
        xyz="-0.34 0.275 0"
        rpy="1.57 0 0" />
      <geometry>
        <mesh
          filename="package://yhs_chassis_description/meshes/FW-001.STL"/>
      </geometry>
      <material
        name="">
        <color
          rgba="0.8 0.8 0.8 1" />
      </material>
    </visual>
  </link>
</robot>
